/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appItemlist {
  list-style-type: none;
  display: flex;
}
.appslist {
  display: flex;
  flex-wrap: wrap;
}
.search-input-container {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: transparent;
  border: 1px solid #7b8794;
}
.icon {
  height: 20px;
}
.search-input {
  background-color: transparent;
  border: none;
  outline: none;
}
.applist {
  list-style-type: none;
  display: flex;
}
